/* bg presentation*/
/* store */
/*----------------------   STORE   ------------------------------*/
:root {
  --jumbotron-padding-y: 3rem; }

.jum-store {
  background-image: url("https://i.pinimg.com/originals/f7/8b/a6/f78ba6c4c4a2bd26e3e3b20dad46dd8a.jpg") !important;
  background-repeat: no-repeat !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  background-position: center !important;
  background-size: cover !important;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff; }

@media (min-width: 768px) {
  .jum-store {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2); } }
.jum-store p:last-child {
  margin-bottom: 0; }
.jum-store .jumbotron-heading {
  font-weight: 300; }
.jum-store .container {
  max-width: 35rem; }

.footer-store {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .footer-store p {
    margin-bottom: .25rem; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

/*----------------------   PACMAN  -----------------------------*/
@-webkit-keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@-moz-keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@-o-keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@-webkit-keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@-moz-keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@-o-keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@-webkit-keyframes r-to-l {
  100% {
    margin-left: -1px; } }
@-moz-keyframes r-to-l {
  100% {
    margin-left: -1px; } }
@-o-keyframes r-to-l {
  100% {
    margin-left: -1px; } }
@keyframes r-to-l {
  100% {
    margin-left: -1px; } }
.footer {
  position: relative;
  height: 30vh;
  background: #333;
  overflow: hidden;
  margin: 0; }
  .footer .pacman:before, .footer .pacman:after {
    content: '';
    position: absolute;
    background: #FFC107;
    width: 100px;
    height: 50px;
    left: 40%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
    -webkit-animation: up 0.4s infinite;
    -moz-animation: up 0.4s infinite;
    -o-animation: up 0.4s infinite;
    animation: up 0.4s infinite; }
  .footer .pacman:after {
    margin-top: -1px;
    border-radius: 0 0 50px 50px;
    -webkit-animation: down 0.4s infinite;
    -moz-animation: down 0.4s infinite;
    -o-animation: down 0.4s infinite;
    animation: down 0.4s infinite; }
  .footer .dot {
    position: absolute;
    left: 43%;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: 30px;
    border-radius: 50%;
    background: white;
    z-index: 1;
    box-shadow: 30px 0 0 #ccc, 60px 0 0 #ccc, 90px 0 0 #ccc, 120px 0 0 #ccc, 150px 0 0 #ccc;
    -webkit-animation: r-to-l 0.4s infinite;
    -moz-animation: r-to-l 0.4s infinite;
    -o-animation: r-to-l 0.4s infinite;
    animation: r-to-l 0.4s infinite; }

/*# sourceMappingURL=store.css.map */
